html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 1em;
}

.content div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

