/**
 * On s'assure que la carte prend le plus d'espace possible
 * Pour cela les éléments parents doivent aussi prendre le plus d'espace possible.
 * Les flexbox nous permettent d'ajuster dynamiquement la taille de la carte
 *  selon la taille de la taille de l'écran.
 **/
html, body {
    height: 100%;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 1em;
}

#map {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}


/* Mettre le tire en gras */
h1 {
    font-weight: bold;
}

