
#left-sidebar {
    float: left;

    margin-left: -105px;
    width: 105px;
}
/* The margin-left of the content must match the margin-left of the sidebar */
#content {
    margin-left: 105px;
}

#menu {
    border: 1pt solid midnightblue;
    margin-right: 15px;
    background-color: rgb(247, 238, 207);
}

#menu ul {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* Removes the bullets */
    list-style-type: none;
}

#menu ul li {
    padding-right: 3px;
    padding-left: 3px;
    width: calc(100% - 6px);
}

#menu a {
    color: midnightBlue;
    text-decoration: none;
    width: 100%;
}

/*#menu a:hover {
    color: chocolate;
}*/

#menu .selected {
    color: rgb(218, 228, 237) !important;
    background-color: midnightBlue;
}

#menu .title {
    background-color: #a9c0d3;
}

#menu .niveau1 {
    padding-left: 10px;
}

