
/*** Generic css rules ***/

body {
    color: darkBlue;
}

h1, h2, h3 {
    margin: 0px;
}

.noMargin {
	  margin: 0;
}


/*** Header ***/

#header {
    width: 100%;
}

#header table {
    width: 100%;
    background-image:url(http://www.groupes.polymtl.ca/log2420/background2.jpg);
}

/* This makes the first coloumn of the header fit exactly the size of the polymtl logo. */
#header table tr td:first-child {
    width: 1%;
}

#header table tr td:last-child {
    /* This makes the last coloumn of the header fit exactly the size of its content. */
    width: 1%;
    background-color: #cecab6;
    text-align: right;
}

#bluehr {
	  height: 3px;
	  color: midnightBlue;
	  background-color: midnightBlue;
	  margin-bottom: 30px;
}


/*** Seances ***/

/* Add some blank at the end of the page */
#content {
    padding-bottom: 15em;
}

#seances hr {
	  color:orange;
}

#detail_seance {
    border-spacing: 0;
    width: 100%;
}

#detail_seance td,th {
    border: 1pt solid midnightblue;
	  padding: 3;
}

#detail_seance th {
    background-color: rgb(247, 238, 207);
}

#detail_seance td:first-child {
    padding-left: 1em;
    align: right;
}

#detail_seance td, th {
    border: 1px solid black;
}



